@import "//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/railscasts.min.css";
@tailwind base;

:root {
  --primary: rgb(222, 200, 244);
  --secondary: rgb(18, 33, 62);
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
  margin: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.ql-toolbar{
  border-radius: 10px 10px 0px 0px !important;
}
.ql-container{
  border-radius: 0px 0px 10px 10px !important;
}

.ql-container.ql-snow {
  height: auto;
}

.ql-editor{
  min-height: 10rem;
  max-height: 30rem;
  overflow-y: scroll;
}

.article-detail pre {
  color: #f8f8f2;
  overflow: auto;
  padding: 1rem;
  max-height: 90vh;
  margin: 0.5rem 0rem;
  background-color: rgb(18, 30, 44) !important;
  border-radius: 0.5rem;
}

.article-detail h2{
  font-size: 1.75rem !important;
  padding: 0.15rem 0rem;
}

.article-detail h3{
  font-size: 1.5rem !important;
  padding: 0.15rem 0rem;
}

.article-detail h4{
  font-size: 1.25rem !important;
  padding: 0.15rem 0rem;
}

.article-detail ul{
  list-style-type: disc;
  list-style-position: inside;
}

.article-detail a{
  font-weight: 500;
  color: #0303b6;
}


.article-detail a:hover{
  text-decoration: underline;
}

@media (max-width: 768px){
  .article-detail pre{
    max-height: 70vh;
  }
  .article-detail h2{
    font-size: 1.5rem !important;
    padding: 0.15rem 0rem;
  }
  .article-detail h3{
    font-size: 1.35rem !important;
    padding: 0.15rem 0rem;
  }
  .article-detail h4{
    font-size: 1.15rem !important;
    padding: 0.15rem 0rem;
  }
}